.stepper-skylight {
    width: 100%;
    overflow: hidden;
}
.steps-container {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    transition: .3s all ease-in-out;
}

.step {
    opacity: 1;
    transition: .3s all ease-in-out;
}
.step.hidden {
    opacity: 0;
}